NODE_ENV=development
PORT=3000
DB_URL=mongodb+srv://nastehok_db_user:pIL4E4UBC9cU1tq2@cluster0.5u3s3un.mongodb.net/?appName=Cluster0
AUTH_URL=https://media2.edu.metropolia.fi/auth-api
JWT_SECRET=öadjkshgjknapihrkjnb
RP_NAME=ElukkaAPI
RP_ID=localhost
